*{
    box-sizing: border-box;
}

:root{
    --primary: rgb(10, 186, 181);
    --secondary: rgb(255, 254, 254);
    --tertiary: rgba(61, 61, 61, 0.89)
}

body{
    margin: 0;
    padding: 0%;
    color: black;
    background-color: var(--secondary);
    line-height: 1.5;
}

body h2{
    color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

p{
    padding-left: 20px;
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--primary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1{
    color: var(--secondary);
    background-color: var(--primary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 5ww;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 0 10px var(--tertiary);
    
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    font-size: 20px;
}

nav a:hover{
    background-size: 100% 100%;
    color: var(--primary);
    background-color: var(--secondary);
}

nav a:last-child{
    margin-right: 0;
}

main{
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero-banner{
    background-color: var(--tertiary);
    background-size: cover;
    background-position: center;
}

.hero-banner div{
    flex: 0 0 90%;
    background-image: url();
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section{
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15%;
    border-right: 5px solid var(--primary);
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-bottom: 10px;

}

.page-section div {
    flex: 0 0 77%;
}

.page-section p{
    margin-bottom: 20px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item{
    border: 3px solid var(--tertiary);
    background-color: var(--tertiary);
    color: var(--secondary);
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: flex-end;
    flex-basis: calc(50% - 1.6rem);
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 95.5%;
}

.flex-item:hover{
    background-color: var(--primary);
}

.flex-item div{
    background-color: var(--tertiary);
    padding: 8px 10px;
}

.flex-item h3{
    font-size: 1.6rem;
}

.contact address{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a{
    color: var(--primary);
    padding: 5px;
    text-decoration: none;
    font-style: normal;
    font-size: 1.3rem;
    background-image: linear-gradient(270deg var (var(--primary) 0% var(--primary) 100%));
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.5s ease-in;
    margin: 0 0 0.2rem 0.1rem;
    display: inline-block;
}

.contact address a:hover{
    background-size: 100% 88%;
    color: var(--tertiary);
}
#runbuddy{
    background-image: url("../Projects/runBuddy/");
}