*{
    box-sizing: border-box;
}

:root{
    --primary: rgb(10, 186, 181);
    --secondary: rgb(255, 254, 254);
    --tertiary: rgba(61, 61, 61, 0.89)
}

body{
    margin: 0;
    padding: 0%;
    color: black;
    background-color: var(--secondary);
    line-height: 1.5;
    align-content: center;
}

body h2{
    color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

p{
    padding-left: 20px;
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    background-color: var(--primary);
    box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1{
    color: var(--secondary);
    background-color: var(--primary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
    font-style: oblique;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    font-size: 25px;
}

nav a:hover{
    background-size: 100% 100%;
    color: var(--primary);
    background-color: var(--secondary);
}


nav a:last-child{
    margin-right: 0;
}

main{
    margin-top: 20px;
    margin-bottom: 45px;
}

.hero-banner{
    background: var(--tertiary);
    background-image: url("./public/images/abstract-black-white-bokeh-background_1962-1324.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    padding: 5% 6%;
    display: flex;
    align-items: flex-end;
    font-size: 50px;
}

.hero-banner div{
    flex: 0 0 90%;
    background-image: url();
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    text-align: center;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.page-section{
    margin: 25px 0;
    padding: 10px 0;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: initial ;
    padding-right: 15%;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 20px ;
    padding-bottom: 0 0 ;
    
}
.page-section img{
    height: 300px;
    width: 300px;
    flex-basis: 40%;
    float: right;

}

.page-section div {
    flex: 0 0 77%;
}

.page-section p{
    margin: 0 0 20px 0;
    padding-left: 20px;
    padding-right: 7px;
    display: flex;
    font-size: 23px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.flex-item{
    background-color: var(--tertiary);
    color: var(--secondary);
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    flex-basis: calc(50% - 1.6rem);
    padding: 0 0 0 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    border-radius: 7px;
}

.flex-item:first-child {
    min-height: 400px;
    flex-basis: 97%;
}

.flex-item:hover{
    background-color: var(--primary);
}

.flex-item div{
    background-color: var(--tertiary);
    padding: 8px 10px;
}

.flex-item h3{
    font-size: 1.6rem;
}

footer address{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer{
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--primary);
    background-size: cover;
    width: 100%;
}
footer h2{
    color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 50px;
    line-height: 1;
    font-weight: bold;
}

footer address a{
    color: var(--secondary);
    padding: 5px 10px;
    text-decoration: none;
    font-style: normal;
    font-size: 25px;
    transition: all 0.5s ease-in;
    margin: 0 0 0.2rem 0.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer address a:hover{
    background-size: 100% 88%;
    color: var(--tertiary)
}
footer a:last-child{
    margin-right: 0;
}

#runbuddy{
    background: url(./public/images/flipped-hero-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}


#entertainment-720{
    background: url(./public/images/720.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#auto-maintenance-log{
    background: url(./public/images/auto-maintenance-log.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#led-wall{
    background: url(./public/images/Led-wall.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#surf-report{
    background: url(./public/images/surf-report.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 980px){
    header{
        padding-bottom: 0;
        justify-content: center;
    }
    header h1{
        width: 100%;
        text-align: center;
    }
    header nav {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
    header nav a{
        font-size: 25px;
    }
    footer h2, footer{
        text-align: center;
        width: 100%;
    }
    footer a, footer{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    
}

@media screen and (max-width: 768px){
    header h1{
        padding-bottom: 0;
    }
    header nav{
        font-size: 25;
    }
}

@media screen and (max-width: 575px){
    #runbuddy img{
        height: 200px;
    }
    .hero-banner h2{
        font-size: 40px;
    }
    .page-section h2{
        font-size: 40px;
    }
    .page-section p{
        padding-right: 7px;
    }
    header nav{
        font-size: 15px;
    }
    .page-section img{
        width: 100%;
    }
    .page-section p{
        text-align: center;
    }
}